*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.gitignore
build.gradle
libs/
proguard-rules.pro
src/
src/main/res/layout-large/
src/main/res/layout-normal/
src/main/res/layout-port/
src/main/res/layout-small/
release/
