<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="by.gov.house">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name="by.gov.house.Activities.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="by.gov.house.Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="by.gov.house.Activities.HumanActivity"
            android:theme="@style/SearchTheme"
            android:screenOrientation="portrait"/>
        <activity android:name="by.gov.house.Activities.RegionActivity"
            android:theme="@style/SearchTheme"
            android:screenOrientation="portrait"/>
        <activity android:name="by.gov.house.Activities.DistrictActivity"
            android:theme="@style/SearchTheme"
            android:screenOrientation="portrait"/>
        <activity android:name="by.gov.house.Activities.CityActivity"
            android:theme="@style/SearchTheme"
            android:screenOrientation="portrait"/>
        <activity android:name="by.gov.house.Activities.StreetActivity"
            android:theme="@style/SearchTheme"
            android:screenOrientation="portrait"/>
        <activity android:name="by.gov.house.Activities.HouseActivity"
            android:theme="@style/SearchTheme"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
